# Mods
/@*

# Executáveis e DLLs
*.exe
*.dll

# Arquivos de configuração e logs
*.txt
*.log
*.RPT
*.ADM
*.mdmp
*.cfg
*.xml
dayz.gproj
buildid
omega.cfg
serverDZ.cfg.active
steam_api64.dll
steamclient64.dll
tier0_s64.dll
vstdlib_s64.dll

# Diretórios do sistema
/addons
/backups
/battleye
/config
/dta
/keys
/logs
/bliss
/appcache
/changes
/sakhal

# Profiles (usar padrão mais amplo)
/profiles/Users/

# Storage (usar padrão mais amplo)
/mpmissions/*/storage_*

# Executáveis UpdateVips
UpdateVips.*

# Scripts
server_manager/Server_manager.ps1
auto_merge.ps1
auto_merge.sh
/profiles/CommunityOnlineTools
/profiles/KeyCardSystem/data
/profiles/LBmaster/Data
/profiles/PermissionsFramework
/profiles/VPPAdminTools
